body,
html {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#game-header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
    background: #cccccc;
    overflow: auto;
}

#game-body {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    bottom: 0px;
    overflow: auto;
}

#map-screen {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 55%;
    background: #aaaaaa;
    overflow: auto;
}

#battle-screen {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 45%;
    background: #ff9922;
    overflow: auto;
}
