body,
html {
    -webkit-user-select: none;
    -webkit-user-drag: none;

    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow:
        1px 0 1px #000000,
        -1px 0 1px #000000,
        0 1px 1px #000000,
        0 -1px 1px #000000;
}

#game-header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
    background: #cccccc;
    overflow: auto;
}

#game-body {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    bottom: 0px;
    overflow: auto;
}

div {
    position: absolute;
    left: 0px;
    top: 0px;
}

.column {
    height: 100%;
}

#column-1 {
    width: 30%;
    left: 0px;
}
#column-2 {
    width: 70%;
    left: 30%;
}

.screen {
    width: 100%;
    overflow: auto;
}

#stat-screen {
    height: 100%;
    background: #aaffaa;
}
#map-screen {
    height: 50%;
    background: #aaaaaa;
}
#battle-screen {
    height: 50%;
    top: 50%;
}

.outlined {
    font-weight: bold;
    color: #ffffff;
    text-shadow:
        1px 0 1px #000000,
        -1px 0 1px #000000,
        0 1px 1px #000000,
        0 -1px 1px #000000;
}

#save-button {
    position: absolute;
    min-width: 100px;
    min-height: 80px;
    top: 10px;
    right: 120px;
}
#save-clear-button {
    position: absolute;
    min-width: 100px;
    min-height: 80px;
    top: 10px;
    right: 10px;
}
